@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Russo+One&family=Swanky+and+Moo+Moo&display=swap');

/*     font-family: 'Kalam', cursive;
    font-family: 'Russo One', sans-serif;
    font-family: 'Swanky and Moo Moo', cursive;
*/

@font-face {
    font-family: 'roots';
    src: url('../fonts/roots/Roots.ttf') format('truetype');
}


/* Viewport */

@viewport {
    zoom: 1.0;
    width: device-width;
}


/* Classes Superiores */

html {
    scroll-behavior: smooth;
    background-color: #000000;
}

body {
    color: #FFFFFF;
    background-color: #000000;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Open Sans", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}